@mixin background($imgpath,$position: center,$repeat: no-repeat, $size: cover, $attatchment: fixed) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $size;
        attachment: $attatchment;
    }
}

.App {
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  @include background('./assets/background.svg');
}


.Logo {
  height: 25vmin;
  pointer-events: none;
}

.Btn-search {
  width: 84px;
  height: 42px;
}

.Search {
  width: 164px;
  height: 42px;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   // background-color: #282c34;
//   // min-height: 100vh;
//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;
//   // justify-content: center;
//   // font-size: calc(10px + 2vmin);
//   // color: white;
// }

.Body {
  min-height: 100vh;
}

// .Header {
//   min-width: 10vh;
//   @include background('./assets/logo.svg');
// }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
