@mixin background($imgpath,$position: center,$repeat: no-repeat, $size: cover, $attatchment: fixed) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $size;
        attachment: $attatchment;
    }
}

.App {
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  overflow-x: hidden;

  @include background('./assets/background.svg');
}


.Logo {
  height: 25vmin;
  pointer-events: none;
}

.Inputs {
  height: 42px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-family: 'Nunito', sans-serif;;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.Btn-search {
  width: 84px;
}

.Search {
  width: 164px;
  text-indent: 10px;
}

.Search::placeholder {
    color: white;
  }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   // background-color: #282c34;
//   // min-height: 100vh;
//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;
//   // justify-content: center;
//   // font-size: calc(10px + 2vmin);
//   // color: white;
// }

.Body {
  min-height: 100vh;
}

// .Header {
//   min-width: 10vh;
//   @include background('./assets/logo.svg');
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }


.Card-image {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  object-position: center center;
  object-fit: cover;
  position: relative;
}

.Card-image-wrapper {
  padding: 0 !important;
}

.Card-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: left;
  text-indent: 5px;

  background: RGBA(27,27,27,0.95);
  box-sizing: border-box;

  p {
    margin: 0;
    color: white;
    font-family: 'Nunito', sans-serif;;
  }

  .name {
      font-size: 20px;
      font-weight: bold;
    }

    .species {
      font-size: 12px;
    }
}

.card {
  width: 254px;
  height: 223px;

  @media screen and (min-width: 576px) {
    width: 223px;
  }
}

.card-wrapper {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.dead {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.actualPage {
  color: #CBD736;
}

.card-pages {
  .list-group-item {
    background-color: transparent !important;
    border: none !important;
    color: #857c85;
  }
}

.Modal {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 576px) {
    align-items: center;
  }
}

.info-modal {
  position: absolute;
  width: 100%;
  min-height: 70vh;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

.info-title {
  color: #CBD736 !important;
  font-size: 13px;
  line-height: 18px;
}

.p-type {
  font-size: 12px;
  line-height: 16px;
  margin: 0px;

  @media screen and (min-width: 576px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.p-dimension {
  font-size: 16px;
  line-height: 22px;
  margin: 0px;

  @media screen and (min-width: 576px) {
    font-size: 18px;
    line-height: 25px;
  }
}

.p-name {
  font-size: 20px;
  line-height: 99.4%;
  margin: 0px;

  @media screen and (min-width: 576px) {
    font-size: 28px;
    line-height: 38px;
  }
}
